@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Manrope:wght@500;600;700;800&display=swap');

:root {
  --font-inter: 'Inter', sans-serif;
  --font-manrope: 'Manrope', sans-serif;
}

body {
  font-family: var(--font-inter);
  background-color: #F8FAFC;
  color: #0F172A;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-manrope);
}
